{
	"printWidth": 180,
	"singleQuote": true,
	"trailingComma": "none",
	"arrowParens": "always",
	"useTabs": true,
	"bracketSpacing": false,
	"vueIndentScriptAndStyle": true,
	"bracketSameLine": true,
	"proseWrap": "never",
	"plugins": [
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.vue",
			"options": {
				"tailwindPreserveWhitespace": true
			}
		}
	]
}
